<div class="card bg-dark text-white" style="height: 100vh;">
    <img src="../../assets/Siemens_card.jpg" class="card-img" alt="..." style="opacity: 0.3;">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <div>
        <h5 class="card-title display-1">Building Technologies – Training and Experience Centre, India</h5>
        <p class="card-text display-6">Technical training for the safety, security, comfort and efficiency of your buildings and infrastructure</p>
        <p class="card-text display-6">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>