<div class="card bg-dark text-white" style="height: 100vh;">
    <img src="../../assets/Card2.jpeg" class="card-img" alt="..." style="opacity: 0.3;">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
      <div>
        <h5 class="card-title display-1">Transform - Innovation Day 2024</h5>
        <p class="card-text display-6">Witness the transformative power of digitalization in driving sustainability and enhancing efficiency for our customers across industries. Join us LIVE on November 12, at Siemens Transform - Innovation Day 2024, for an exclusive opportunity to explore our innovative technologies and solutions that are shaping a sustainable future.</p>
        <p class="card-text display-6">Last updated 3 mins ago</p>
      </div>
    </div>
  </div>